.aot-banner {
    background-image: url(../image/Anime-banners/Attack\ on\ Titan.png);
    background-repeat: no-repeat;
}

.piece-banner {
    background-image: url(../image/Anime-banners/PIECE.png);
    background-repeat: no-repeat;
}

.naruto-banner {
    background-image: url(../image/Anime-banners/Naruto\ .png);
    background-repeat: no-repeat;
}

.death-note-banner {
    background-image: url(../image/Anime-banners/Death\ note\ .png);
    background-repeat: no-repeat;
}

.one-punch-man-banner {
    background-image: url(../image/Anime-banners/One\ punch\ .png);
    background-repeat: no-repeat;
}

.demon-slayer-banner {
    background-image: url(../image/Anime-banners/Demon\ slayer.png);
    background-repeat: no-repeat;
}

.tokyo-revengers-banner {
    background-image: url(../image/Anime-banners/Tokyo\ revengers.png);
    background-repeat: no-repeat;
}

.vinland-saga-banner {
    background-image: url(../image/Anime-banners/Vinland\ Saga.png);
    background-repeat: no-repeat;
}

.blue-lock-banner {
    background-image: url(../image/Anime-banners/Blue\ Lock.png);
    background-repeat: no-repeat;
}

.spy-x-family-banner {
    background-image: url(../image/Anime-banners/Spy\ xFamily.png);
    background-repeat: no-repeat;
}

.chainslaw-man-banner {
    background-image: url(../image/Anime-banners/Chainsaw\ Man.png);
    background-repeat: no-repeat;
}